@import "../index.css";

$half-width: 50vw;

@mixin inverted-card {
  background-color: var(--bg);
  color: var(--text);
}

.wrapper {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.left,
.right {
  width: $half-width;
  height: 100vh;
  overflow-y: scroll;
}

.left {
  overflow: hidden;

  .card:nth-child(odd) {
    @include inverted-card;
  }
}

.right {
  .card:nth-child(even) {
    @include inverted-card;
  }
}

.card {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3.1vw;
}
